<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>735</integer>
    <key>capHeight</key>
    <integer>720</integer>
    <key>descender</key>
    <integer>-170</integer>
    <key>familyName</key>
    <string>Alex</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6f8kmbmgAV</string>
        <key>name</key>
        <string>Overshoot (top)</string>
        <key>x</key>
        <integer>787</integer>
        <key>y</key>
        <integer>525</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>h2wi0I1h3L</string>
        <key>name</key>
        <string>Overshoot (bottom)</string>
        <key>x</key>
        <integer>221</integer>
        <key>y</key>
        <integer>-8</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>IV5iOwELRa</string>
        <key>name</key>
        <string>Top Overshoot (Capital)</string>
        <key>x</key>
        <integer>351</integer>
        <key>y</key>
        <integer>732</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ARA7RWpycJ</string>
        <key>x</key>
        <integer>306</integer>
        <key>y</key>
        <integer>-8</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>z1I1i674SQ</string>
        <key>x</key>
        <integer>297</integer>
        <key>y</key>
        <integer>-12</integer>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>520</integer>
  </dict>
</plist>
